<div class="mt-4">
    <div class="row">
        <div class="col-lg-9">
            <h1>{{course.title}}</h1>
            <p>{{course.description}}</p>
            <h4>Bạn sẽ học được gì?</h4>
            <ul>
                <li>Các kiến thức cơ bản, nền móng của ngành IT</li>
                <li>Các khái niệm, thuật ngữ cốt lõi khi triển khai ứng dụng</li>
                <li>Các mô hình, kiến trúc cơ bản khi triển khai ứng dụng</li>
                <li>Hiểu hơn về cách internet và máy vi tính hoạt động</li>
            </ul>
        </div>

        <div class="col-lg-3">
            <img class="card-img-top" src="{{course.image}}" alt="{{course.name}}">
            <button>Tiep Tuc Hoc</button>
            <p>Đã đăng ký</p>
            <ul>
                <li>{{course.level}}</li>
                <li>Tổng số 12 bài học</li>
                <li>Thời lượng 03 giờ 26 phút</li>
                <li>Học mọi lúc, mọi nơi</li>
            </ul>
        </div>
    </div>
</div>